{
  "swagger": "2.0",
  "info": {
    "description": "This is the API for the Delta application.",
    "title": "Delta API",
    "termsOfService": "http://delta.store",
    "contact": {
      "name": "API Support"
    },
    "license": {
      "name": "Apache 2.0 Apache-2.0 OR MIT"
    }
  },
  "host": "node.delta.store",
  "basePath": "/",
  "paths": {
    "/admin/wallet/balance/:address": {
      "post": {
        "description": "It creates a new wallet and saves it to the database",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "It creates a new wallet and saves it to the database",
        "parameters": [
          {
            "type": "string",
            "description": "address",
            "name": "address",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    },
    "/deal/content/{contentId}": {
      "post": {
        "description": "returns the status of a content",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "deal"
        ],
        "summary": "returns the status of a content",
        "parameters": [
          {
            "type": "integer",
            "description": "Content ID",
            "name": "contentId",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/api.DealResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "api.DealResponse": {
      "type": "object",
      "properties": {
        "content_id": {
          "type": "integer"
        },
        "message": {
          "type": "string"
        },
        "request_meta": {},
        "status": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
