basePath: /
definitions:
  api.DealResponse:
    properties:
      content_id:
        type: integer
      message:
        type: string
      request_meta: {}
      status:
        type: string
    type: object
host: node.delta.store
info:
  contact:
    name: API Support
  description: This is the API for the Delta application.
  license:
    name: Apache 2.0 Apache-2.0 OR MIT
  termsOfService: http://delta.store
  title: Delta API
paths:
  /admin/wallet/balance/:address:
    post:
      consumes:
        - application/json
      description: It creates a new wallet and saves it to the database
      parameters:
        - description: address
          in: path
          name: address
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: It creates a new wallet and saves it to the database
      tags:
        - Admin
  /deal/content/{contentId}:
    post:
      consumes:
        - application/json
      description: returns the status of a content
      parameters:
        - description: Content ID
          in: path
          name: contentId
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/api.DealResponse'
      summary: returns the status of a content
      tags:
        - deal
swagger: "2.0"
securityDefinitions:
  bearerAuth:
    type: apiKey
    name: Authorization
    in: header
security:
  - bearerAuth: []
